.form {
  margin: 0 auto;
  display: flex;
  gap: 8px;
}

.form-label {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.form-input {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #808080;

  display: block;
  width: 273px;
  height: 40px;

  padding: 8px 16px;

  outline: none;
  border: 1px solid #808080;
  border-radius: 4px;
  transition: border-color 300ms ease-in-out;
}

.form-input:hover {
  border-color: #000;
}

.form-input:active,
.form-input:focus {
  border-color: #4e65ff;
}

.form-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4e75ff;
  
  border-color: transparent;
  border-radius: 8px;

  display: block;
  width: 91px;
  height: 40px;
  margin-top: auto;

  transition: opacity 300ms ease-in-out;
}

.form-btn:hover {
  opacity: .7;
}
